<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

  <head>
    <title>Authority FX, Inc.</title>
  </head>

  <body>
    <h2>Settings</h2>
    Update your credentials below. Fields left blank will not be ignored.
    <br/><br/>
    ${form.display(data)}

    *Please note that all new purchases will be added to the licensing database with the email address you enter at checkout.  If you wish to change your email address, please update it here before you make another purchase.

  </body>
</html>
